/* Reset defautl settings */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
ul
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*so they don't go over their container*/
img, embed, object, video {
    max-width: 100%;
}
/* End reset styles */

html {
  background: url(images/cerfvolant4.jpg) no-repeat center center fixed;
  background-color: #6793c5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    color: #000000;
    font: normal 100% Georgia, Serif;
    height: 100%;
    min-height: 100%;
}

#header {
    width: 66%;
}

div#page {
    width: 830px;
    /*margin: 0px auto;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;*/
    margin: 5% 0 2% 5%;
    padding-bottom: 30px;
    position: relative;
    display:block;
    border: solid 1px #5a5c57;
    zoom: 1;
    background-color: rgba(0,0,0, 0.1);
    min-width: 350px;
}

h1 {
    font-size:3em;
    font-style:italic;
    padding:0em 0em 0.1em 10px;
    letter-spacing: 4px;
    word-spacing: 8px;
    display:inline-block;
    width:100%;
}

h2 {
    font-size:1em;
    padding:0em 0em 0em 13px;
    letter-spacing: 4px;
    display:block;
    width:100%;
}

span.less {
    color:#cdcdcd;:
    font-size:0.9em;
}
p {
    font-family: "Avenir Next","Helvetica Neue", sans-serif;
    line-height:150%;
    margin: 30px 20px 15px 0px;
}

#fittext3 {
    margin-top:-4px;
}

ul.contact{
    position:absolute;
    top:5px;
    right:5px;
    text-align: right;
}

ul.ontheweb{
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;
    padding-right: 1em;
}

ul.ontheweb li {
    display: inline;
    padding-left:5px;
}

#content p{
    margin-left:5px;
}

ul.contact li img{
    padding: 0.3em 0.3em 0em 0em;
}

ul.contact li{
    padding: 0em 1em 0em 0em;
    font-size: 110%;
}

#content {
    width:66%;
    line-height: 120%;
    /*margin-top: 25px;*/
    margin:25px 50px 0 10px;
}

@media screen and (max-width:910px) {
    #content {
        width:66%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        padding: 0px 0 0em 10px;
        width:100%;
    }
    div#page {
        width: 90%;
    }
    #header {
        width:66%;
    }
}

@media screen and (max-width:700px) {
    html{
        background-image:none;
    }
    #content {
        width:100%;
    }
    ul.contact, ul.ontheweb{
        position: static;
        width:100%;
        margin: 15px 0 0 0;
        padding: 0 0 0 0%;
        text-align:left;
    }
    ul.contact li.where {
       display:none;
    }
    ul.contact li, ul.ontheweb li{
        display:inline;
        float:center;
        padding-left:10px;
    }
    /*
    img.icon{
        display:none;
        width:100%;
    }
    */
    #content p{
        width:93%;
    }
    #header {
        width:100%;
    }
}

@media screen and (max-width:480px) {
    html{
        background-image:none;
    }
    ul.contact li{
        display:inline;
        padding-left:10px;
        font-size:100%;
    }
    /*img.icon{
        display:none;
        width:100%;
    }*/
    ul.contact{
        position: static;
        width:100%;
        padding: 0 0;
        margin: 15px 0 0 0;
        text-align:left;
    }
    ul.contact img {
        display: none;
    }
    #content p{
        margin-left:0px;
        width:93%;
    }
    #header {
        width:100%;
    }
}